---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Background from "../components/Background.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="relative isolate bg-white h-[100dvh]">
      <main
        class="mx-auto max-w-screen-2xl py-16 px-8 md:px-24 tall:min-h-[calc(100dvh-128px)]"
      >
        <h1 class="text-5xl md:text-6xl font-bold tracking-tight md:pt-24">
          Welcome to Juno
        </h1>

        <div class="w-full max-w-2xl mt-8 grid grid-cols-2 gap-8">
          <article
            class="col-span-2 text-center p-3 border-black border-[3px] rounded bg-white shadow-[8px_8px_0px_rgba(0,0,0,1)]"
          >
            <h4>Documentation</h4>
          </article>

          <article
            class="flex flex-col p-3 border-black border-[3px] rounded bg-white shadow-[8px_8px_0px_rgba(0,0,0,1)]"
          >
            <h4>Documentation</h4>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque ac eros ut massa suscipit tempus.
            </p>
          </article>

          <article
            class="flex flex-col p-3 border-black border-[3px] rounded bg-white shadow-[8px_8px_0px_rgba(0,0,0,1)]"
          >
            <h4>Documentation</h4>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque ac eros ut massa suscipit tempus.
            </p>
          </article>

          <article
            class="flex flex-col p-3 border-black border-[3px] rounded bg-white shadow-[8px_8px_0px_rgba(0,0,0,1)]"
          >
            <h4>Documentation</h4>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque ac eros ut massa suscipit tempus.
            </p>
          </article>

          <article
            class="flex flex-col p-3 border-black border-[3px] rounded bg-white shadow-[8px_8px_0px_rgba(0,0,0,1)]"
          >
            <h4>Documentation</h4>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque ac eros ut massa suscipit tempus.
            </p>
          </article>
        </div>
      </main>

      <Footer />

      <Background />
    </div>
  </body>
</html>
